/*-- scss:defaults --*/

// Importing Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');


/* Justify all paragraphs */
p {
    text-align: justify;
  }

/*-- scss:rules --*/
.value-box-value {
  font-size: 3rem !important;
}


/*-- scss:colors --*/
$navbar-bg: #595F39 !default;
$navbar-fg: #E4E4DE !default;
$navbar-hl: #1B1B1B !default;